/* Global Styles */
:root {
  --primary-color: #3F51B5;
  --secondary-color: #ECEFF1;
  --text-color: #333;
  --background-color: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #000;
    --secondary-color: #333;
    --text-color: #fff;
    --background-color: #1c1c1c;
  }
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 50px;
}

nav a {
  display: inline-block;
  padding: 8px 16px;
  font-size: 16px;
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  position: relative;
  overflow: hidden;
}

nav a::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: rgba(255, 255, 255, 0.3);
  opacity: 0;
  border-radius: 2%;
  transform: translate(-50%, -50%);
}

nav a:hover::before {
  width: 100%;
  height: 100%;
  opacity: 1;
  transition: width 0.3s ease-out, height 0.3s ease-out, opacity 0.3s ease-out;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  margin-top: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  position: fixed;
  width: 100%;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

@keyframes rainbow {
  0% { color: #FF0000; }
  17% { color: #FF7F00; }
  34% { color: #FFFF00; }
  51% { color: #00FF00; }
  68% { color: #0000FF; }
  85% { color: #4B0082; }
  100% { color: #8F00FF; }
}

.header-title {
  margin: 0;
  animation: rainbow 10s ease infinite;
}

nav ul li {
  display: inline-block;
  margin-left: 4px;
}

.container {
  padding-top: 70px;
}

/* Main Styles */
main {
  padding-top: 70px;
  background-color: var(--secondary-color);
  padding: 50px;
}

html {
  scroll-behavior: smooth;
  transition: scroll-behavior 0.5s ease-in-out;
}

.game-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  background-color: #444;
  border-radius: 10px;
  padding: 10px;
}

.row {
  display: flex;
}

.cell {
  width: 80px;
  height: 80px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cell:hover {
  background-color: #ddd;
}

#tictactoe-panel {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  z-index: 9999;
  display: none;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

#tictactoe-panel.show {
  display: block;
}

#tictactoe-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.tic-tac-toe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.tic-tac-toe .square {
  width: 96px;
  height: 96px;
  background-color: #8bc34a;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}

.tic-tac-toe .square:hover {
  transform: scale(1.1);
}

.tic-tac-toe .square.disabled {
  background-color: #ccc;
  color: #fff;
}

.tic-tac-toe .square.disabled:hover {
  transform: none;
  cursor: not-allowed;
}

.tic-tac-toe .square.x:before {
  content: 'X';
}

.tic-tac-toe .square.o:before {
  content: 'O';
}

section {
  background-color: var(--background-color);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}

h2 {
  color: var(--primary-color);
  font-size: 28px;
  margin-bottom: 20px;
}

p {
  color: var(--text-color);
  font-size: 18px;
  line-height: 1.5;
}

/* Footer Styles */
footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: center;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  footer {
    background-color: #3F51B5;
    color: #fff;
  }
}

@media (prefers-color-scheme: dark) {
  footer {
    background-color: #222;
    color: #fff;
  }
}
